Repository ornlneutronimaging/rustpix: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, taplo-format

.pre-commit-config.yaml:

# Pre-commit hooks for rustpix
# See https://pre-commit.com for more information
# Install: pixi run pre-commit-install
# Run manually: pixi run pre-commit-run

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(target/|\.pixi/)
      - id: end-of-file-fixer
        exclude: ^(target/|\.pixi/|.*\.lock)
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Rust and TOML formatting (local hooks using cargo/taplo from pixi)
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo check --workspace
        language: system
        types: [rust]
        pass_filenames: false

      - id: taplo-format
        name: taplo format
        entry: pixi run taplo format
        language: system
        types: [toml]
        exclude: ^(\.pixi/|pixi\.lock)

feat(ui): enhance top panel status rendering with dynamic font sizing and scrolling effect
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(docs): update GUI design document for Phase 4 completion and Phase 5 roadmap
  docs/gui-design-v1.md
Due: none

feat(memory): add memory telemetry and display in control panel
  Cargo.lock
  rustpix-gui/Cargo.toml
  rustpix-gui/src/app.rs
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/util.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

feat(docs): update Phase 5 roadmap to reflect completion of memory utilization indicator
  docs/gui-design-v1.md
Due: none

feat(export): enhance HDF5 export with validation warnings and update UI for masked pixel exclusion
  rustpix-gui/src/app.rs
  rustpix-gui/src/message.rs
  rustpix-gui/src/state/ui.rs
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(detector): add detector profile management and configuration options in UI
  rustpix-gui/src/app.rs
  rustpix-gui/src/pipeline/clustering.rs
  rustpix-gui/src/pipeline/loader.rs
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(control-panel): enhance control panel with increment/decrement buttons for various parameters
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(docs): update design document to reflect completion of Phase 6 features and roadmap adjustments
  docs/gui-design-v1.md
Due: none

feat(ui): add option to cache raw hits in memory for rebuild/export functionality
  rustpix-gui/src/app.rs
  rustpix-gui/src/histogram/mod.rs
  rustpix-gui/src/message.rs
  rustpix-gui/src/pipeline/clustering.rs
  rustpix-gui/src/pipeline/loader.rs
  rustpix-gui/src/state/ui.rs
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(control-panel): add cache vs streaming toggle and corresponding icons
  rustpix-gui/assets/icons/cache-ram.svg
  rustpix-gui/assets/icons/cache-stream.svg
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(main): refactor viewport initialization and move icon loading to a separate function
  rustpix-gui/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(control-panel): remove caching option for hits in memory from UI
  docs/gui-design-v1.md
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(app): refactor histogram image generation to use dynamic dimensions
  rustpix-gui/src/app.rs
  rustpix-gui/src/ui/main_view.rs
  rustpix-gui/src/viewer/texture.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refactor: remove dead code annotations and clean up unused fields in various modules
  rustpix-gui/src/histogram/mod.rs
  rustpix-gui/src/state/processing.rs
  rustpix-gui/src/ui/main_view.rs
  rustpix-gui/src/ui/theme.rs
  rustpix-gui/src/viewer/roi.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Refactor UI rendering in RustpixApp and improve section processing logic
  rustpix-gui/src/app.rs
  rustpix-gui/src/pipeline/loader.rs
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Implement feature X to enhance user experience and fix bug Y in module Z
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

pay tech debt to resolve long functions clippy warning
  rustpix-gui/src/ui/main_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refactor(ui): streamline log toggle rendering in main view for improved readability
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/ui/main_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refactor(roi): restructure Roi and RoiState to encapsulate visibility and selection states
  rustpix-gui/src/ui/main_view.rs
  rustpix-gui/src/viewer/roi.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Refactor UI state management for improved organization and clarity
  rustpix-gui/src/app.rs
  rustpix-gui/src/state/ui.rs
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/ui/main_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(app, io): add super-resolution factors for neutron processing and export
  rustpix-gui/src/app.rs
  rustpix-io/src/hdf5.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(ui): add ROI help panel and button for user guidance
  rustpix-gui/src/state/ui.rs
  rustpix-gui/src/ui/main_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(ui): add help panels for clustering, view, pixel health, and spectrum
  rustpix-gui/src/state/ui.rs
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/ui/main_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(ui): enhance tooltips for clarity and user guidance in control panel and main view
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/ui/main_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(app, message, io): enhance hit processing with pulse boundary metadata and update HDF5 export functionality
  rustpix-gui/src/app.rs
  rustpix-gui/src/message.rs
  rustpix-gui/src/pipeline/loader.rs
  rustpix-io/src/hdf5.rs
  rustpix-io/src/lib.rs
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(hdf5): improve pixel mask validation and add comprehensive export tests
  rustpix-gui/src/pipeline/loader.rs
  rustpix-gui/src/state/statistics.rs
  rustpix-gui/src/viewer/roi.rs
  rustpix-gui/src/viewer/texture.rs
  rustpix-io/src/hdf5.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(hdf5): normalize super resolution factor in NeutronEventWriter
  rustpix-gui/src/app.rs
  rustpix-io/src/hdf5.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(detector): enhance detector configuration with JSON serialization and file saving
  rustpix-gui/src/app.rs
  rustpix-gui/src/ui/control_panel.rs
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(control_panel): add TDC frequency setting and validation error handling
  rustpix-gui/src/ui/control_panel.rs
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(detector): refine chip transformation handling in JSON serialization
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(tests): update default chip transformation values for improved accuracy
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

test(extraction): add unit test for super-resolution factor impact on output
  rustpix-core/src/extraction.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: add version bump automation via pixi tasks (#94)
  pyproject.toml
  rustpix-python/Cargo.toml
  scripts/version.py
Due: taplo-format

feat: add GitHub release workflow with macOS app bundle (#95)
  .github/workflows/release.yml
  resources/rustpix.icns
  rustpix-gui/Cargo.toml
Due: taplo-format

feat: add Homebrew tap publishing (#96)
  .github/workflows/release.yml
  homebrew/README.md
  homebrew/rustpix.rb
Due: none

feat: add crates.io publishing support (#97)
  .github/workflows/release.yml
  Cargo.toml
  rustpix-algorithms/Cargo.toml
  rustpix-algorithms/README.md
  rustpix-cli/Cargo.toml
  rustpix-cli/README.md
  rustpix-core/Cargo.toml
  rustpix-core/README.md
  rustpix-io/Cargo.toml
  rustpix-io/README.md
  rustpix-tpx/Cargo.toml
  rustpix-tpx/README.md
  scripts/version.py
Due: taplo-format

feat: complete PyPI metadata for wheel publishing (#98)
  pyproject.toml
Due: taplo-format

docs: comprehensive documentation updates for v1.0.0 (#99)
  CHANGELOG.md
  README.md
  rustpix-algorithms/README.md
  rustpix-io/README.md
  rustpix-tpx/README.md
Due: none

test: comprehensive validation for v1.0.0 release (#100)
  .github/RELEASE_VALIDATION.md
Due: none

fix: use PyO3 stable ABI (abi3-py311) for Python 3.11-3.13 compatibility
  .github/workflows/release.yml
  rustpix-python/Cargo.toml
Due: taplo-format
