Repository ornlneutronimaging/rustpix: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, taplo-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo check --workspace
  language: system
  pass_filenames: false

taplo-format:
  name: taplo format
  entry: pixi run taplo format
  language: system

docs: Refine documentation formatting for ABS algorithm and `Tpx3Processor`.
  rustpix-algorithms/src/lib.rs
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: Implement parallel hit processing, refine timestamp calculation, and enhance clustering with min TOT, min cluster size, and chip mapping.
  .cargo/config.toml
  Cargo.lock
  rustpix-algorithms/src/dbscan.rs
  rustpix-algorithms/src/graph.rs
  rustpix-algorithms/src/grid.rs
  rustpix-cli/src/main.rs
  rustpix-core/src/extraction.rs
  rustpix-io/Cargo.toml
  rustpix-io/src/reader.rs
  rustpix-tpx/src/hit.rs
  rustpix-tpx/src/lib.rs
  rustpix-tpx/src/packet.rs
  rustpix-tpx/src/section.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

Update rustpix-tpx/src/lib.rs
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Update rustpix-cli/src/main.rs
  rustpix-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: Implement affine chip coordinate transformations and JSON configuration loading.
  Cargo.lock
  rustpix-core/src/extraction.rs
  rustpix-python/src/lib.rs
  rustpix-tpx/Cargo.toml
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

feat: Add transform validation to `ChipTransform` and `DetectorConfig` to prevent coordinate overflow and out-of-bounds errors.
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: Add PyO3 ABI forward compatibility and enforce square chip validation in detector configuration.
  .cargo/config.toml
  rustpix-cli/src/main.rs
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

feat: Replace single `chip_size` with `chip_size_x` and `chip_size_y` to support non-square detector chips.
  rustpix-python/src/lib.rs
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: add chip transform validation to DetectorConfig constructor and return PyResult
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: Implement SoA-optimized DBSCAN and Grid clustering, introduce core SoA data structures, and add benchmarking and correctness verification tools.
  .gitignore
  Cargo.lock
  benchmark.py
  pixi.lock
  pyproject.toml
  rustpix-algorithms/src/abs.rs
  rustpix-algorithms/src/dbscan.rs
  rustpix-algorithms/src/graph.rs
  rustpix-algorithms/src/grid.rs
  rustpix-algorithms/src/lib.rs
  rustpix-algorithms/src/soa_abs.rs
  rustpix-algorithms/src/soa_dbscan.rs
  rustpix-algorithms/src/soa_grid.rs
  rustpix-algorithms/src/spatial.rs
  rustpix-algorithms/tests/correctness.rs
  rustpix-core/Cargo.toml
  rustpix-core/src/lib.rs
  rustpix-core/src/soa.rs
  rustpix-gui/Cargo.toml
  rustpix-gui/src/main.rs
  rustpix-io/Cargo.toml
  rustpix-io/src/lib.rs
  rustpix-io/src/scanner.rs
  rustpix-python/Cargo.toml
  rustpix-python/src/lib.rs
  rustpix-python/src/streaming.rs
  rustpix-tpx/src/section.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

Fix tof histogram display issue
  rustpix-algorithms/src/abs.rs
  rustpix-algorithms/src/soa_abs.rs
  rustpix-algorithms/src/soa_dbscan.rs
  rustpix-algorithms/src/soa_grid.rs
  rustpix-algorithms/src/spatial.rs
  rustpix-gui/src/main.rs
  rustpix-io/src/reader.rs
  rustpix-python/src/lib.rs
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: Remove CLAUDE.md and IMPLEMENTATION_PLAN.md from git tracking
  .gitignore
  CLAUDE.md
  IMPLEMENTATION_PLAN.md
Due: none

fix: Address clippy warnings for clean CI
  rustpix-algorithms/src/soa_dbscan.rs
  rustpix-gui/src/main.rs
  rustpix-io/src/scanner.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: Simplify pixi tasks to core workflow
  pyproject.toml
Due: taplo-format

chore: Update pixi.lock for pytest dependency
  pixi.lock
Due: none

fix: Dynamic SpatialGrid resizing to prevent silent hit loss
  pyproject.toml
  rustpix-algorithms/src/abs.rs
  rustpix-algorithms/src/dbscan.rs
  rustpix-algorithms/src/graph.rs
  rustpix-algorithms/src/grid.rs
  rustpix-algorithms/src/soa_abs.rs
  rustpix-algorithms/src/soa_dbscan.rs
  rustpix-algorithms/src/soa_grid.rs
  rustpix-algorithms/src/spatial.rs
  rustpix-algorithms/tests/repro_spatial_bounds.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

refactor: Consolidate to SoA-only clustering algorithms
  benchmark.py
  rustpix-algorithms/src/abs.rs
  rustpix-algorithms/src/dbscan.rs
  rustpix-algorithms/src/graph.rs
  rustpix-algorithms/src/grid.rs
  rustpix-algorithms/src/lib.rs
  rustpix-algorithms/src/soa_abs.rs
  rustpix-algorithms/src/soa_dbscan.rs
  rustpix-algorithms/src/soa_grid.rs
  rustpix-algorithms/src/spatial.rs
  rustpix-algorithms/tests/correctness.rs
  rustpix-algorithms/tests/repro_spatial_bounds.rs
  rustpix-cli/src/main.rs
  rustpix-core/src/clustering.rs
  rustpix-core/src/extraction.rs
  rustpix-core/src/hit.rs
  rustpix-core/src/lib.rs
  rustpix-core/src/neutron.rs
  rustpix-gui/src/main.rs
  rustpix-io/src/lib.rs
  rustpix-io/src/reader.rs
  rustpix-io/src/writer.rs
  rustpix-python/src/lib.rs
  rustpix-python/src/streaming.rs
  rustpix-tpx/src/hit.rs
  rustpix-tpx/src/lib.rs
  rustpix-tpx/src/packet.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: Guard against divide-by-zero in TOT-weighted centroid
  rustpix-core/src/extraction.rs
Due: cargo-fmt, cargo-clippy, cargo-check

style: Fix formatting in extraction.rs
  rustpix-core/src/extraction.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: Enforce min_cluster_size in DBSCAN algorithm
  rustpix-algorithms/src/dbscan.rs
  rustpix-algorithms/tests/dbscan_min_cluster_size.rs
Due: cargo-fmt, cargo-clippy, cargo-check

docs: Add TPX3 timestamp analysis tools and research findings
  Cargo.lock
  Cargo.toml
  docs/research/time-ordered-hits.md
  docs/research/tpx3-timestamp-analysis.md
  tools/Cargo.toml
  tools/README.md
  tools/analyze_rollover.rs
  tools/analyze_timestamps.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

feat: Add time-ordered hit streaming with boundary refinement
  rustpix-tpx/src/lib.rs
  rustpix-tpx/src/ordering.rs
  rustpix-tpx/tests/ordering_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: Add CLI benchmark and reader integration for time-ordered hits
  rustpix-cli/src/main.rs
  rustpix-io/src/reader.rs
  tools/analyze_timestamps.rs
Due: cargo-fmt, cargo-clippy, cargo-check

style: Fix formatting and clippy warnings
  rustpix-cli/src/main.rs
  tools/analyze_timestamps.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: Optimize GridClustering with temporal pruning and introduce a performance test against AbsClustering.
  rustpix-algorithms/src/grid.rs
  rustpix-algorithms/tests/grid_perf.rs
Due: cargo-fmt, cargo-clippy, cargo-check

test: Relax Grid performance threshold for CI variance
  rustpix-algorithms/tests/grid_perf.rs
Due: cargo-fmt, cargo-clippy, cargo-check

perf: Release GIL during stream processing by moving computation into `py.allow_threads` and introducing `UnsafeSlice` for thread-safe data access.
  rustpix-python/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: Implement a bucket pool size limit in `get_bucket` and update its return type to `Result` for error handling.
  rustpix-algorithms/src/abs.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: Implement chunked section scanning and clustering with progress reporting to improve large file processing and responsiveness.
  rustpix-gui/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

enable workspace linting
  Cargo.toml
  rustpix-algorithms/Cargo.toml
  rustpix-algorithms/src/abs.rs
  rustpix-algorithms/src/dbscan.rs
  rustpix-algorithms/src/grid.rs
  rustpix-algorithms/src/spatial.rs
  rustpix-algorithms/tests/correctness.rs
  rustpix-algorithms/tests/dbscan_min_cluster_size.rs
  rustpix-algorithms/tests/grid_perf.rs
  rustpix-algorithms/tests/repro_spatial_bounds.rs
  rustpix-cli/Cargo.toml
  rustpix-cli/src/main.rs
  rustpix-core/Cargo.toml
  rustpix-core/src/clustering.rs
  rustpix-core/src/extraction.rs
  rustpix-core/src/hit.rs
  rustpix-core/src/neutron.rs
  rustpix-core/src/soa.rs
  rustpix-gui/Cargo.toml
  rustpix-gui/src/main.rs
  rustpix-io/Cargo.toml
  rustpix-io/src/reader.rs
  rustpix-io/src/scanner.rs
  rustpix-io/src/writer.rs
  rustpix-python/Cargo.toml
  rustpix-python/src/lib.rs
  rustpix-python/src/streaming.rs
  rustpix-tpx/Cargo.toml
  rustpix-tpx/src/hit.rs
  rustpix-tpx/src/lib.rs
  rustpix-tpx/src/ordering.rs
  rustpix-tpx/src/packet.rs
  rustpix-tpx/src/section.rs
  rustpix-tpx/tests/ordering_tests.rs
  tools/Cargo.toml
  tools/analyze_rollover.rs
  tools/analyze_timestamps.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

Make pipeline SoA-only
  README.md
  benchmark.py
  pyproject.toml
  rustpix-cli/src/main.rs
  rustpix-core/src/error.rs
  rustpix-core/src/extraction.rs
  rustpix-core/src/hit.rs
  rustpix-core/src/lib.rs
  rustpix-core/src/soa.rs
  rustpix-gui/src/main.rs
  rustpix-io/src/reader.rs
  rustpix-python/src/lib.rs
  rustpix-python/src/streaming.rs
  rustpix-tpx/src/hit.rs
  rustpix-tpx/src/lib.rs
  rustpix-tpx/src/ordering.rs
  rustpix-tpx/src/parser.rs
  rustpix-tpx/src/section.rs
  rustpix-tpx/tests/ordering_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

Fix rustfmt issues
  rustpix-io/src/reader.rs
  rustpix-python/src/streaming.rs
  rustpix-tpx/src/hit.rs
  rustpix-tpx/src/ordering.rs
  rustpix-tpx/tests/ordering_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add SoA numpy input APIs
  README.md
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Address clippy warnings for numpy APIs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add zero-copy numpy outputs and Arrow exports
  README.md
  rustpix-python/src/lib.rs
  rustpix-python/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Avoid per-section merge copies in streaming
  rustpix-python/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Stream time-ordered hits with initial TDC carryover
  rustpix-python/src/streaming.rs
  rustpix-tpx/src/ordering.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Track TDC rollovers in time-ordered stream
  rustpix-tpx/src/ordering.rs
  rustpix-tpx/tests/ordering_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Optimize SimpleCentroidExtraction hot path
  rustpix-core/src/extraction.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Reuse allocations in Grid and DBSCAN clustering
  rustpix-algorithms/src/dbscan.rs
  rustpix-algorithms/src/grid.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  taplo-format: any of: \.toml$, but not: ^(\.pixi/|pixi\.lock)
