Repository ornlneutronimaging/rustpix: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, taplo-format

.pre-commit-config.yaml:

# Pre-commit hooks for rustpix
# See https://pre-commit.com for more information
# Install: pixi run pre-commit-install
# Run manually: pixi run pre-commit-run

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(target/|\.pixi/)
      - id: end-of-file-fixer
        exclude: ^(target/|\.pixi/|.*\.lock)
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Rust and TOML formatting (local hooks using cargo/taplo from pixi)
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo check --workspace
        language: system
        types: [rust]
        pass_filenames: false

      - id: taplo-format
        name: taplo format
        entry: pixi run taplo format
        language: system
        types: [toml]
        exclude: ^(\.pixi/|pixi\.lock)

docs: shorten API docs in the clustering, IO and Python modules
  rustpix-algorithms/src/abs.rs
  rustpix-algorithms/src/dbscan.rs
  rustpix-algorithms/src/grid.rs
  rustpix-algorithms/src/processing.rs
  rustpix-io/src/hdf5.rs
  rustpix-io/src/out_of_core_pipeline.rs
  rustpix-io/src/reader.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(io): write Hdf5HistogramSink buffered counts on drop
  CHANGELOG.md
  rustpix-io/src/hdf5.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(io): emit one batch per pulse from the threaded out-of-core stream
  CHANGELOG.md
  rustpix-io/src/out_of_core_pipeline.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(algorithms): count the hit itself in DBSCAN min_points
  CHANGELOG.md
  book/src/algorithms/README.md
  rustpix-algorithms/src/dbscan.rs
  rustpix-algorithms/src/processing.rs
  rustpix-algorithms/tests/dbscan_min_points.rs
Due: cargo-fmt, cargo-clippy, cargo-check

docs: state clustering input requirements and parameter semantics
  CHANGELOG.md
  README.md
  book/src/algorithms/README.md
  book/src/introduction.md
  book/src/python-api/README.md
  rustpix-algorithms/src/abs.rs
  rustpix-algorithms/src/dbscan.rs
  rustpix-algorithms/src/grid.rs
  rustpix-algorithms/src/processing.rs
  rustpix-core/src/clustering.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(python): cluster each pulse separately in cluster_hits
  CHANGELOG.md
  book/src/algorithms/README.md
  rustpix-algorithms/src/lib.rs
  rustpix-algorithms/src/processing.rs
  rustpix-algorithms/tests/cluster_pulses.rs
  rustpix-io/src/reader.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

docs(algorithms): state the TOF order requirement on cluster_and_extract_pulses
  rustpix-algorithms/src/processing.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: release v1.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  rustpix-gui/pyproject.toml
Due: taplo-format

chore: stop tracking the local task contract
  .harness/TASK.md
Due: none

docs: correct the crate READMEs
  rustpix-algorithms/README.md
  rustpix-cli/README.md
  rustpix-core/README.md
  rustpix-io/README.md
  rustpix-tpx/README.md
Due: none

fix(io): build with the ndarray version hdf5-metno resolves to
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: taplo-format

docs: install the CLI with --locked and use placeholder identifiers
  README.md
  book/src/cli/README.md
  book/src/cli/commands.md
  book/src/installation/README.md
  book/src/installation/rust.md
  book/src/python-api/quickstart.md
  book/src/reference/hdf5-schema.md
  docs/hdf5_schema.md
  rustpix-cli/README.md
Due: none

docs: numeric run-number example; drop the max_cluster_size claim
  book/src/cli/README.md
  book/src/cli/commands.md
  rustpix-core/README.md
Due: none

fix(algorithms): apply max_cluster_size
  CHANGELOG.md
  rustpix-algorithms/src/grid.rs
  rustpix-algorithms/src/processing.rs
  rustpix-algorithms/tests/max_cluster_size.rs
  rustpix-core/README.md
  rustpix-core/src/clustering.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: release v1.4.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  rustpix-gui/pyproject.toml
Due: taplo-format
