Repository ornlneutronimaging/rustpix: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, taplo-format

.pre-commit-config.yaml:

# Pre-commit hooks for rustpix
# See https://pre-commit.com for more information
# Install: pixi run pre-commit-install
# Run manually: pixi run pre-commit-run

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(target/|\.pixi/)
      - id: end-of-file-fixer
        exclude: ^(target/|\.pixi/|.*\.lock)
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Rust and TOML formatting (local hooks using cargo/taplo from pixi)
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo check --workspace
        language: system
        types: [rust]
        pass_filenames: false

      - id: taplo-format
        name: taplo format
        entry: pixi run taplo format
        language: system
        types: [toml]
        exclude: ^(\.pixi/|pixi\.lock)

fix: ensure sdist is published to PyPI and GitHub releases
  .github/workflows/release.yml
Due: none

fix: remove invalid --compatibility flag from maturin build
  .github/workflows/release.yml
Due: none

chore: bump version to 1.0.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: taplo-format

fix: workflow fixes for v1.0.0 release
  .github/workflows/release.yml
Due: none

chore: bump version to 1.0.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: taplo-format

fix: include LICENSE file in PyPI source distribution
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: taplo-format

fix: exclude rustpix-python from macOS app bundle build
  .github/workflows/release.yml
Due: none

chore: bump version to 1.0.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: taplo-format

fix: use working-directory for macOS bundle build
  .github/workflows/release.yml
Due: none

chore: bump version to 1.0.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: taplo-format

feat(gui): add TIFF export formats
  Cargo.lock
  rustpix-gui/Cargo.toml
  rustpix-gui/src/app.rs
  rustpix-gui/src/state/mod.rs
  rustpix-gui/src/state/ui.rs
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

fix(gui): simplify tiff cast
  rustpix-gui/src/app.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(gui): address review comments
  rustpix-gui/src/app.rs
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/util.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add histogram view transforms with ROI remap
  rustpix-gui/src/app.rs
  rustpix-gui/src/state/mod.rs
  rustpix-gui/src/state/ui.rs
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/ui/main_view.rs
  rustpix-gui/src/viewer/mod.rs
  rustpix-gui/src/viewer/roi.rs
  rustpix-gui/src/viewer/texture.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add tests for view transform mapping
  rustpix-gui/src/state/ui.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Improve histogram toolbar sizing and grouping
  rustpix-gui/src/ui/main_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: bump version to 1.0.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
Due: taplo-format

docs: add Zenodo DOI badge and citation
  README.md
Due: none

docs: add mdBook documentation with GitHub Pages deployment
  .github/workflows/docs.yml
  .gitignore
  README.md
  book/book.toml
  book/src/SUMMARY.md
  book/src/algorithms/README.md
  book/src/cli/README.md
  book/src/cli/commands.md
  book/src/gui/README.md
  book/src/installation/README.md
  book/src/installation/macos.md
  book/src/installation/python.md
  book/src/installation/rust.md
  book/src/installation/source.md
  book/src/introduction.md
  book/src/python-api/README.md
  book/src/python-api/configuration.md
  book/src/python-api/quickstart.md
  book/src/reference/README.md
  book/src/reference/hdf5-schema.md
  pyproject.toml
Due: taplo-format

docs: add logo to documentation and CLI pixi tasks
  .gitignore
  book/src/images/logo.svg
  book/src/introduction.md
  pyproject.toml
Due: taplo-format

fix: correct mdBook edit URL template path
  book/book.toml
Due: taplo-format

docs: fix documentation accuracy issues
  book/src/introduction.md
  book/src/python-api/configuration.md
  pixi.lock
  pyproject.toml
Due: taplo-format

docs: fix data type documentation accuracy
  book/src/algorithms/README.md
  book/src/python-api/README.md
  book/src/python-api/quickstart.md
Due: none

feat: add ORNL SNS NXsnsevent HDF5 export across all output paths
  .gitignore
  Cargo.lock
  book/src/reference/hdf5-schema.md
  docs/hdf5_schema.md
  rustpix-cli/Cargo.toml
  rustpix-cli/src/main.rs
  rustpix-gui/src/app.rs
  rustpix-gui/src/state/mod.rs
  rustpix-gui/src/state/ui.rs
  rustpix-gui/src/ui/control_panel.rs
  rustpix-io/src/hdf5.rs
  rustpix-io/src/hdf5_sns.rs
  rustpix-io/src/lib.rs
  rustpix-python/Cargo.toml
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

fix: correct TIFF coordinate scaling, pulse timestamps, and SNS finalization
  rustpix-cli/src/main.rs
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: qualify intra-doc links in SnsEventSink doc comment
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: avoid counting empty pulses and fix bogus end_time epoch
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: add --format/--instrument CLI flags, fix SNS pixel-ID clamping and Python HDF5 detector size
  book/src/cli/README.md
  book/src/cli/commands.md
  book/src/gui/README.md
  book/src/python-api/README.md
  book/src/python-api/quickstart.md
  book/src/reference/hdf5-schema.md
  rustpix-cli/src/main.rs
  rustpix-io/src/hdf5_sns.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: case-insensitive format detection and super-resolution factor validation
  rustpix-cli/src/main.rs
  rustpix-io/src/hdf5_sns.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: de-duplicate pulse counting across banks and reject --tof-max 0
  rustpix-cli/src/main.rs
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: preserve pulse structure, gap-aware pixel remap, and monotonicity checks
  rustpix-gui/src/app.rs
  rustpix-gui/src/message.rs
  rustpix-gui/src/pipeline/clustering.rs
  rustpix-io/src/hdf5_sns.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: add Linux GUI build, PyPI publishing, and pip install rustpix[gui]
  .github/workflows/gui.yml
  .github/workflows/release.yml
  pyproject.toml
  rustpix-gui/pyproject.toml
  scripts/version.py
Due: taplo-format

fix: filter-first pulse writes, OOB pixel bounds, and multi-file TDC rebase
  rustpix-cli/src/main.rs
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: block SNS export from write_neutrons_hdf5 lacking pulse timestamps
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: per-bank pulse monotonicity and per-pulse generic NeXus streaming
  rustpix-io/src/hdf5_sns.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: defer event_time_zero to finalize using global minimum timestamp
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: exclude empty pulses from SNS time-origin and duration tracking
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: normalise per-file TDC baseline before cross-file rebase offset
  rustpix-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: block writes after SNS sink finalization, prevent TIFF sidecar clobbering
  rustpix-cli/src/main.rs
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: skip empty batches in SNS rebase and validate DAS log lengths
  rustpix-cli/src/main.rs
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check
