Repository ornlneutronimaging/rustpix: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, taplo-format

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo check --workspace
  language: system
  pass_filenames: false

taplo-format:
  name: taplo format
  entry: pixi run taplo format
  language: system

chore: bump version to 1.1.0 and address Copilot review feedback
  Cargo.lock
  Cargo.toml
  pyproject.toml
  rustpix-cli/src/main.rs
  rustpix-gui/pyproject.toml
  rustpix-io/src/hdf5_sns.rs
  scripts/version.py
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

fix: rebase TDC timestamps in generic HDF5 multi-file export
  rustpix-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: address 6 Copilot review comments (NaN guards, docs, end_time)
  book/src/gui/README.md
  book/src/reference/hdf5-schema.md
  docs/hdf5_schema.md
  rustpix-cli/src/main.rs
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: reject unsupported ISO 8601 timezone suffixes, validate SNS mode early
  rustpix-io/src/hdf5_sns.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: truncate end_time duration instead of rounding up
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: reject invalid month/day in iso8601_to_epoch_secs
  rustpix-io/src/hdf5_sns.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: use valid Rust target triple for Linux GUI wheel build
  .github/workflows/gui.yml
Due: none

revert: restore short target name in Linux GUI workflow
  .github/workflows/gui.yml
Due: none

fix: add missing rustpix-gui README.md for maturin wheel build
  rustpix-gui/README.md
Due: none

chore: bump version to 1.1.1
  Cargo.toml
  pyproject.toml
  rustpix-gui/pyproject.toml
Due: taplo-format

feat: upgrade egui/eframe 0.29 → 0.33, egui_plot 0.29 → 0.34
  Cargo.lock
  rustpix-gui/Cargo.toml
  rustpix-gui/src/app.rs
  rustpix-gui/src/main.rs
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/ui/main_view.rs
  rustpix-gui/src/ui/theme.rs
  rustpix-gui/src/viewer/roi.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

fix: remove auto_bounds(false) to fix reset-view regression in egui_plot 0.34
  rustpix-gui/src/ui/main_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check

style: run cargo fmt on rustpix-gui
  rustpix-gui/src/app.rs
  rustpix-gui/src/main.rs
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/ui/main_view.rs
  rustpix-gui/src/viewer/roi.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: address Copilot review comments
  rustpix-gui/src/main.rs
  rustpix-gui/src/viewer/roi.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: build Python extension before import test in pixi test task
  pyproject.toml
Due: taplo-format

chore: bump version to 1.1.2
  Cargo.toml
  pyproject.toml
  rustpix-gui/pyproject.toml
Due: taplo-format

security: pin third-party GitHub Actions to commit SHAs + least-privilege permissions
  .github/workflows/ci.yml
  .github/workflows/gui.yml
  .github/workflows/release.yml
Due: none

fix(clippy): satisfy map_unwrap_or and sort_by_key lints
  rustpix-cli/src/main.rs
  rustpix-gui/src/app.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: correct LICENSE copyright holder to UT-Battelle, LLC
  LICENSE
Due: none

chore: add .zenodo.json for Zenodo release archival metadata
  .zenodo.json
Due: none

fix(clippy): annotate float literals as f32 for float-literal-f32-fallback
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/ui/main_view.rs
  rustpix-gui/src/ui/statistics.rs
  rustpix-gui/src/ui/theme.rs
  rustpix-gui/src/viewer/roi.rs
Due: cargo-fmt, cargo-clippy, cargo-check

docs(readme): use Zenodo concept DOI in badge and citation
  README.md
Due: none

docs: add THIRD_PARTY_LICENSES.md
  THIRD_PARTY_LICENSES.md
Due: none

feat(gui): raise TOF bin limit from 2,000 to 1,000,000
  .harness/TASK.md
  CHANGELOG.md
  rustpix-gui/src/app.rs
  rustpix-gui/src/histogram/mod.rs
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: bump version to 1.1.3
  Cargo.lock
  Cargo.toml
  pyproject.toml
  rustpix-gui/pyproject.toml
Due: taplo-format

fix(gui): scale TOF bin drag speed with the current value
  CHANGELOG.md
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

test(gui): make the 10,000-bin test able to fail, and fix doc claims
  .harness/TASK.md
  CHANGELOG.md
  rustpix-gui/src/histogram/mod.rs
  rustpix-gui/src/ui/control_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check

docs: record v1.1.3 release evidence in the task contract
  .harness/TASK.md
Due: none

feat: add launch_rustpix.sh convenience launcher script
  launch_rustpix.sh
Due: none

feat: v1.2.0 — file-open tools in the GUI and SNS NeXus event loading
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  book/src/gui/README.md
  book/src/python-api/quickstart.md
  book/src/reference/hdf5-schema.md
  pyproject.toml
  rustpix-gui/Cargo.toml
  rustpix-gui/pyproject.toml
  rustpix-gui/src/app.rs
  rustpix-gui/src/main.rs
  rustpix-gui/src/pipeline/loader.rs
  rustpix-gui/src/pipeline/mod.rs
  rustpix-gui/src/recent.rs
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/ui/file_open.rs
  rustpix-gui/src/ui/mod.rs
  rustpix-io/Cargo.toml
  rustpix-io/examples/sns_read_summary.rs
  rustpix-io/src/hdf5_sns.rs
  rustpix-io/src/lib.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

fix: select the GUI file-dialog backend by cargo feature (v1.2.1)
  .github/workflows/gui.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  rustpix-gui/Cargo.toml
  rustpix-gui/pyproject.toml
Due: taplo-format

fix: satisfy the new clippy lints in Rust 1.98
  rustpix-gui/src/pipeline/loader.rs
  rustpix-gui/src/ui/main_view.rs
  rustpix-gui/src/viewer/roi.rs
  rustpix-io/src/reader.rs
  rustpix-io/src/scanner.rs
  rustpix-tpx/src/section.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(ci): install GTK3 development libraries for the Ubuntu jobs
  .github/workflows/ci.yml
Due: none

Use postflight_steps in the Homebrew cask template
  homebrew/rustpix.rb
Due: none

feat(gui): resizable image/spectrum split and a time-remaining estimate
  CHANGELOG.md
  rustpix-gui/src/app.rs
  rustpix-gui/src/layout_prefs.rs
  rustpix-gui/src/main.rs
  rustpix-gui/src/state/mod.rs
  rustpix-gui/src/state/processing.rs
  rustpix-gui/src/state/ui.rs
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/ui/main_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(gui): start export dialogs in the experiment's IPTS-####/shared folder
  rustpix-gui/src/ui/control_panel.rs
  rustpix-gui/src/ui/file_open.rs
  rustpix-gui/src/ui/main_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(gui): reset the TIFF export base name when a different file is loaded
  rustpix-gui/src/app.rs
Due: cargo-fmt, cargo-clippy, cargo-check

test: use assert_eq for empty-collection checks
  rustpix-io/src/hdf5_sns.rs
  rustpix-tpx/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: release v1.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pyproject.toml
  rustpix-gui/pyproject.toml
Due: taplo-format

chore(tpx): remove the undeclared parser and error modules
  CHANGELOG.md
  Cargo.lock
  rustpix-tpx/Cargo.toml
  rustpix-tpx/src/error.rs
  rustpix-tpx/src/parser.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  taplo-format: any of: \.toml$, but not: ^(\.pixi/|pixi\.lock)
