Repository ornlneutronimaging/rustpix: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, taplo-format

.pre-commit-config.yaml:

# Pre-commit hooks for rustpix
# See https://pre-commit.com for more information
# Install: pixi run pre-commit-install
# Run manually: pixi run pre-commit-run

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(target/|\.pixi/)
      - id: end-of-file-fixer
        exclude: ^(target/|\.pixi/|.*\.lock)
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Rust and TOML formatting (local hooks using cargo/taplo from pixi)
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        entry: env PYO3_USE_ABI3_FORWARD_COMPATIBILITY=1 cargo check --workspace
        language: system
        types: [rust]
        pass_filenames: false

      - id: taplo-format
        name: taplo format
        entry: pixi run taplo format
        language: system
        types: [toml]
        exclude: ^(\.pixi/|pixi\.lock)

Improve Python binding error context
  rustpix-python/src/lib.rs
  rustpix-python/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add out-of-core processing strategy doc
  docs/research/out-of-core-processing.md
Due: none

Add Python bindings tutorial notebook
  notebooks/python-bindings-tutorial.ipynb
Due: none

Add Pixi Jupyter environment
  pyproject.toml
Due: taplo-format

Add Python bindings tutorial notebook and Jupyter env
  notebooks/python-bindings-tutorial.ipynb
  pixi.lock
  pyproject.toml
Due: taplo-format

feat: add time-ordered hit streaming and high-level cluster and extract processing, and switch to Arc for shared memory maps.
  Cargo.lock
  README.md
  benchmark.py
  docs/research/out-of-core-processing.md
  notebooks/python-bindings-tutorial.ipynb
  pixi.lock
  rustpix-algorithms/src/lib.rs
  rustpix-algorithms/src/processing.rs
  rustpix-io/src/lib.rs
  rustpix-io/src/reader.rs
  rustpix-python/Cargo.toml
  rustpix-python/src/lib.rs
  rustpix-python/src/streaming.rs
  rustpix-tpx/src/ordering.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

fix compiler error
  rustpix-tpx/tests/ordering_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: Implement batch neutron extraction and store representative time-of-flight and chip ID directly in cluster accumulators.
  rustpix-algorithms/src/abs.rs
  rustpix-algorithms/src/lib.rs
  rustpix-algorithms/src/processing.rs
  rustpix-cli/src/main.rs
  rustpix-core/src/extraction.rs
  rustpix-core/src/lib.rs
  rustpix-core/src/neutron.rs
  rustpix-gui/src/main.rs
  rustpix-io/src/writer.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix Python binding memroy issue
  notebooks/rustpix_python_bindings.ipynb
  pixi.lock
  pyproject.toml
Due: taplo-format

fix failing checks
  rustpix-algorithms/src/processing.rs
  rustpix-cli/src/main.rs
  rustpix-core/src/extraction.rs
  rustpix-gui/src/main.rs
  rustpix-io/src/reader.rs
  rustpix-io/src/writer.rs
  rustpix-python/src/lib.rs
  rustpix-tpx/src/ordering.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix clippy pedantics lints issue properly
  rustpix-algorithms/src/abs.rs
  rustpix-algorithms/src/dbscan.rs
  rustpix-algorithms/src/grid.rs
  rustpix-algorithms/src/spatial.rs
  rustpix-algorithms/tests/correctness.rs
  rustpix-algorithms/tests/dbscan_min_cluster_size.rs
  rustpix-algorithms/tests/grid_perf.rs
  rustpix-algorithms/tests/repro_spatial_bounds.rs
  rustpix-cli/src/main.rs
  rustpix-core/src/clustering.rs
  rustpix-core/src/extraction.rs
  rustpix-core/src/neutron.rs
  rustpix-core/src/soa.rs
  rustpix-gui/src/main.rs
  rustpix-io/src/reader.rs
  rustpix-io/src/scanner.rs
  rustpix-io/src/writer.rs
  rustpix-python/src/lib.rs
  rustpix-tpx/src/hit.rs
  rustpix-tpx/src/lib.rs
  rustpix-tpx/src/ordering.rs
  rustpix-tpx/src/packet.rs
  rustpix-tpx/src/section.rs
  rustpix-tpx/tests/ordering_tests.rs
  tools/analyze_rollover.rs
  tools/analyze_timestamps.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix clippy failiing CI
  rustpix-algorithms/tests/grid_perf.rs
  rustpix-io/src/scanner.rs
  rustpix-tpx/src/hit.rs
  rustpix-tpx/src/lib.rs
  rustpix-tpx/src/packet.rs
  rustpix-tpx/src/section.rs
  rustpix-tpx/tests/ordering_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix failing fmt
  rustpix-algorithms/tests/grid_perf.rs
Due: cargo-fmt, cargo-clippy, cargo-check

add new lint target
  pyproject.toml
Due: taplo-format

Add streaming neutrons and Arrow outputs
  pixi.lock
  pyproject.toml
  rustpix-algorithms/src/lib.rs
  rustpix-algorithms/src/processing.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

Make process_tpx3_neutrons streaming by default
  README.md
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Update notebook for streaming default
  notebooks/rustpix_python_bindings.ipynb
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add HDF5/NeXus schema document
  docs/hdf5_schema.md
Due: none

Align HDF5 schema with NXevent_data conventions
  docs/hdf5_schema.md
Due: none

Clarify TOF energy formula variable
  docs/hdf5_schema.md
Due: none

Refine HDF5 schema to NXevent_data conventions
  docs/hdf5_schema.md
Due: none

Add HDF5 event and histogram IO
  Cargo.lock
  Cargo.toml
  docs/hdf5_schema.md
  pixi.lock
  pyproject.toml
  rustpix-io/Cargo.toml
  rustpix-io/src/error.rs
  rustpix-io/src/hdf5.rs
  rustpix-io/src/lib.rs
  rustpix-io/src/reader.rs
  rustpix-tpx/src/ordering.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

Add HDF5 IO error-path tests
  rustpix-io/src/hdf5.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Make read_batch use pulse-ordered stream
  rustpix-io/src/reader.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Align time-ordered hit paths
  notebooks/rustpix_python_bindings.ipynb
  rustpix-cli/src/main.rs
  rustpix-gui/src/main.rs
  rustpix-python/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Parallelize GUI time-ordered loading
  rustpix-gui/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Fix GUI pulse receiver init
  rustpix-gui/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Fix clippy lint warnings
  rustpix-cli/src/main.rs
  rustpix-gui/src/main.rs
  rustpix-io/src/hdf5.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add pulse-bounded out-of-core batcher
  Cargo.toml
  rustpix-io/Cargo.toml
  rustpix-io/src/lib.rs
  rustpix-io/src/out_of_core.rs
Due: cargo-fmt, cargo-clippy, cargo-check, taplo-format

Fix out-of-core batcher test
  rustpix-io/src/out_of_core.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Update Cargo.lock for sysinfo
  Cargo.lock
Due: none

Fix clippy warnings in out-of-core
  rustpix-io/src/out_of_core.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add HDF5 event sinks for streaming
  rustpix-io/src/hdf5.rs
  rustpix-io/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Fix HDF5 sink doc markdown
  rustpix-io/src/hdf5.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Apply rustfmt ordering for hdf5 re-export
  rustpix-io/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Drop hit sink before reading in test
  rustpix-io/src/hdf5.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Drop neutron sink before reading in test
  rustpix-io/src/hdf5.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Deduplicate HDF5 event group setup
  rustpix-io/src/hdf5.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add out-of-core histogram sink
  rustpix-io/src/hdf5.rs
  rustpix-io/src/lib.rs
  rustpix-io/src/out_of_core.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add axis_mode for energy axis
  rustpix-io/src/hdf5.rs
Due: cargo-fmt, cargo-clippy, cargo-check
